html, body {
  margin: 0;
}

@font-face {
  font-family: "Rancho";
  src: url(https://fonts.googleapis.com/css2?family=Rancho&display=swap);
}

.page {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 90%;
}

.navigation__mobile {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
}

@media screen and (min-width: 576px) {
  .navigation__mobile {
    width: calc(100% - 200px);
    padding-left: 100px;
    padding-right: 100px;
  }
}

.navigation__mobile .menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.navigation__mobile .menu ul li {
  padding-bottom: 7px;
  margin-top: 25px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.navigation__mobile .menu ul li:first-child {
  margin: 0;
}

.navigation__mobile .menu ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  font-family: "Rancho";
  font-size: 30px;
  text-shadow: 1px 0px 30px #999696;
}

@media screen and (min-width: 576px) {
  .navigation__mobile .menu ul li a {
    font-size: 50px;
  }
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.toggle__line {
  height: 10px;
  width: 70px;
  background-color: black;
  margin-top: 10px;
}

.toggle__line:first-of-type {
  margin: 0;
}

.toggle:hover {
  cursor: pointer;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animate-in {
  -webkit-animation-name: menue-in;
          animation-name: menue-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.animate-out {
  -webkit-animation-name: menue-out;
          animation-name: menue-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

@-webkit-keyframes menue-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes menue-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes menue-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes menue-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.hero {
  position: relative;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */